body {
  font-family: Ubuntu;
}

.horizontal-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.vertical-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.empty-space {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.empty-space:hover {
  fill: rgba(0, 0, 0, 0.5);
}