:root {
  --blue: #3498db;
  --dark-blue: #2980b9;
  --black: #21252b;
  --light-black: #282c34;
  --white: #ddd;
  --green: #34b46a;
  --dark-green: #2b9959;
}

body {
  font-family: Ubuntu;
  background: var(--black);
  color: var(--white);
  line-height: 1.5rem;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
}

h2 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background: #777;
}

.dark-text {
  color: #777;
}

.horizontal-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.vertical-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
}

.empty-space {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.intersection:hover {
  fill: rgba(0, 0, 0, 0.6);
}

.black-territory {
  fill: rgba(0, 0, 0, 0.3);
  stroke: none;
  pointer-events: all;
}

.white-territory {
  fill: rgba(255, 255, 255, 0.3);
  stroke: none;
  pointer-events: all;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.side-bar {
  background: var(--dark-black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  cursor: none;
}

.stone {
  pointer-events: none;
}

button {
  color: var(--white);
  font-family: Ubuntu;
  border: none;
  background: var(--green);
  box-shadow: 0px 4px var(--dark-green);
  user-select: none;
  position: relative;
  font-size: 1em;
  border-radius: 0.4em;
  padding: 0.6em 1em;
  margin: 0.5em 1em;
  text-align: center;
  cursor: pointer;
  bottom: 4px;
  transition: bottom 0.2s, box-shadow 0.2s;
}

button:active {
  box-shadow: 0px 0px var(--dark-green);
  bottom: 0px;
  transition: bottom 0s, box-shadow 0s;
}

button:focus {
  outline: none;
}

input[type="text"],
input[type="password"] {
  margin: 1rem 0.5rem;
  padding: 0.6rem 0.4rem 0.4rem 0.4rem;
  font-size: 1rem;
  font-family: Ubuntu;
  border-radius: 0.3rem;
  border: none;
  box-shadow: inset 0px 4px #ccc;
  color: #333;
  width: 100%;
}

.text-input-icon {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

/* RADIO BUTTON */
.radio-horizontal {
  user-select: none;
}

input[type="radio"] {
  display: none;
}

.radio-horizontal > label {
  border-left: 1px solid var(--dark-blue);
}

.radio-horizontal > label:first-of-type {
  border-radius: 0.3rem 0em 0em 0.3rem;
  border-left: none;
}

.radio-horizontal > label:last-of-type {
  border-radius: 0em 0.3rem 0.3rem 0em;
}

input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  background: var(--blue);
  box-shadow: 0 4px var(--dark-blue);
  color: var(--white);
  font-size: 1em;
  padding: 0.5em 1em;
  bottom: 4px;
  margin: 0em;
  transition: bottom 0.2s, box-shadow 0.2s, color 0.2s;
}

input[type="radio"]:checked + label {
  background: var(--dark-blue);
  color: var(--white);
  box-shadow: 0 0 var(--dark-blue);
  bottom: 0em;
}

input[type="radio"]:checked + label:not(:last-of-type) {
  border-right: 1px solid var(--dark-blue);
}

input[type="radio"]:checked + label + input + label {
  border-left: none;
}

fieldset {
  border: none;
  margin: 0.8rem;
}
