body {
  font-family: Ubuntu;
  background: #282c34;
  color: #ddd;
  line-height: 1.5rem;
}

h2 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background: #777;
}

.dark-text {
  color: #777;
}

.horizontal-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.vertical-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.empty-space {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.intersection:hover {
  fill: rgba(0, 0, 0, 0.6);
}

.black-territory {
  fill: rgba(0, 0, 0, 0.3);
  stroke: none;
  pointer-events: all;
}

.white-territory {
  fill: rgba(255, 255, 255, 0.3);
  stroke: none;
  pointer-events: all;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.side-bar {
  background: #21252b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  cursor: none;
}

.stone {
  pointer-events: none;
}

button {
  color: #eee;
  border: none;
  background: #3498db;
  box-shadow: 0px 4px #2980b9;
  user-select: none;
  position: relative;
  font-size: 1em;
  border-radius: 0.4em;
  padding: 0.6em 1em;
  margin: 0.5em 1em;
  text-align: center;
  cursor: pointer;
  bottom: 4px;
  transition: bottom 0.2s, box-shadow 0.2s;
}

button:active {
  box-shadow: 0px 0px #2980b9;
  bottom: 0px;
  transition: bottom 0s, box-shadow 0s;
}

button:focus {
  outline: none;
}
